<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immdream.usermanager.mapper.RegionMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.immdream.model.domain.user.UserRegion">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="region" property="region" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <resultMap id="mapResult" type="java.util.HashMap">
        <result property="key" column="region"/>
        <result property="value" column="count"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_id, region, create_time, update_time
    </sql>

    <select id="getRegionNum" resultMap="mapResult">
        select region, count(*) as count from user_region
        group by region
    </select>

</mapper>
