<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immdream.usermanager.mapper.UserMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.immdream.model.domain.user.User">
        <result column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="email" property="email" />
        <result column="telephone" property="telephone" />
        <result column="image" property="image" />
        <result column="describe" property="describe" />
        <result column="is_ban" property="ban" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <resultMap id="UnimportantUserResultMap" type="com.immdream.model.domain.user.query.UserQuery">
        <result column="id" property="id" />
        <result column="username" property="username" />
        <result column="nickname" property="nickname" />
        <result column="image" property="image" />
        <result column="describe" property="describe" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `username`, `password`, `nickname`, `email`, `telephone`, `image`, `describe`, `is_ban`, `create_time`, `update_time`
    </sql>

    <!-- 没有关键信息的用户所需要的结果列 -->
    <sql id="Unimportant_User_List">
        `user`.id, username, nickname, image, `describe`, `is_ban`
    </sql>

    <!--<select id="selectUserListByCondition" parameterType="com.immdream.model.domain.user.User"-->
    <!--        resultMap="BaseResultMap">-->
    <!--    select <include refid="Base_Column_List" /> from USER-->
    <!--    <where>-->
    <!--        <if test="id != null">-->
    <!--            and id = #{id}-->
    <!--        </if>-->
    <!--        <if test="username != null">-->
    <!--            and username like "%" + #{username} + "%"-->
    <!--        </if>-->
    <!--        <if test="telephone != null">-->
    <!--            union select <include refid="Base_Column_List" /> from USER-->
    <!--            where telephone = #{telephone}-->
    <!--        </if>-->
    <!--        <if test="email != null">-->
    <!--            union select <include refid="Base_Column_List" /> from USER-->
    <!--            where email = #{email}-->
    <!--        </if>-->
    <!--    </where>-->
    <!--</select>-->

    <select id="selectUserListByCondition" parameterType="com.immdream.model.domain.user.User"
            resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from USER
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null">
                and username like concat('%', #{username}, '%')
            </if>
            <if test="telephone != null">
                and telephone = #{telephone}
            </if>
            <if test="email != null">
                and email = #{email}
            </if>
        </where>
    </select>

    <select id="listAttentionUser" parameterType="Integer" resultMap="UnimportantUserResultMap">
        select <include refid="Unimportant_User_List"></include> from `user`
        inner join `user_attention` as b
        on `user`.id = b.attention_user_id
        where b.user_id = #{id}
    </select>

    <select id="getUserVoById" parameterType="Integer" resultMap="UnimportantUserResultMap">
        select <include refid="Unimportant_User_List"></include> from `user`
        where id = #{id}
    </select>

</mapper>
