<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immdream.publishnews.mapper.CommentMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.immdream.model.domain.news.Comment">
    <result column="id" property="id" />
        <result column="news_id" property="newsId" />
        <result column="user_id" property="userId" />
        <result column="comment" property="comment" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        news_id, user_id, comment, is_deleted, create_time
    </sql>

    <select id="getNewsCommentList" resultType="com.immdream.publishnews.domain.NewsCommentDTO"
            parameterType="Integer">
        select u.id as userid, u.username as username, u.nickname as nickname, c.create_time as time,
        u.image as userheadPortrait, `c`.comment as comments
        from `user` as u, comment as `c`
        where u.id = `c`.user_id and `c`.news_id = #{newsid} and `c`.is_deleted = 0
        order by `c`.create_time desc
    </select>

</mapper>
